body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#fff5e6, #ffe6e6);
  overflow: hidden;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}

.subtitle {
  font-size: 18px;
}

.container {
  height: 100vh;
}

.screen {
  display: none;
  height: 100vh;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.screen.active {
  display: block;
}

.year {
  font-size: 70px;
  color: gold;
}

button {
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  background: #ff4d4d;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 18px;
  margin: 15px auto;
  width: 85%;
  font-size: 18px;
  border-radius: 12px;
}

/* PHOTO GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  background: #ccc;
}

/* SECRET */
.secret {
  font-size: 20px;
  line-height: 1.6;
}

/* MUSIC */
#musicBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  z-index: 10;
}

.song {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
}

/* NIGHT */
.night {
  background: radial-gradient(circle at top, #1a2a6c, #000);
  color: white;
}

/* SNOW */
#snow {
  position: fixed;
  inset: 0;
  z-index: -1;
}
